/* Import Oxygen from Google fonts (light, regular, bold) */
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

body {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}

header {
  color: #707070;
  background-image: url(../img/pencils.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* Center all elements */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* NAVIGATION MENU */
label,
#toggle {
  display: none; /* Hides mobile menu */
}

#nav-menu {
  list-style-type: none;
  position: absolute;
  top: 15px;
}

#nav-menu li {
  display: inline;
}

#nav-menu li:not(:last-child) {
  margin-right: 20px;
}

#nav-menu a {
  color: #707070;
  font-size: 1.6rem;
  text-decoration: none;
}

#nav-menu a:hover {
  color: #000;
}

.active {
  color: #F3742E !important;
  font-weight: bold;
}

/* SHOWCASE TEXT AND BUTTONS */
#showcase {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
}

#showcase h1 {
  font-size: 4.4rem;
  margin-bottom: 7rem;
}

#cta-1 {
  background-color: #F3742E;
  color: #EAE8EB;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
  margin-right: 20px;
}

#cta-2 {
  color: #707070;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 20px;
  border: solid 2px #F3742E;
}

#cta-1:hover {
  background-color: #707070;
}

#cta-2:hover {
  color: #F3742E;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 476px) {
  #nav-menu {
    display: none;
  }

  label {
  color: #F3742E;
  font-size: 3rem;
  display: block;
  position: absolute;
  top: 5px;
  right: 20px;
  }

  #cta-1 {
    font-size: 1.6rem;
    display: block;
    margin: 0 auto 1rem auto;
    max-width: 18rem;
  }

  #cta-2 {
    background-color: rgba(234, 232, 235, 0.8);
    font-size: 1.6rem;
    display: block;
    max-width: 18rem;
    margin: 0 auto;
  }

  #showcase h1 {
  font-size: 3.6rem;
  margin-bottom: 5rem;
}
}